*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    text-transform: capitalize;
}
.nav-link:hover{
    color: red;

}

.icon{
    height: 40px;
    width: auto;
}